@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ITC-bk";
  src: url("../assets/fonts/ITCAvantGardePro-Bk.otf")
}
@font-face {
  font-family: "ITC-bold";
  src: url("../assets/fonts/ITCAvantGardePro-Bold.otf")
}
@font-face {
  font-family: "ITC-demi";
  src: url("../assets/fonts/ITCAvantGardePro-Demi.otf")
}
@font-face {
  font-family: "ITC-md";
  src: url("../assets/fonts/ITCAvantGardePro-Md.otf")
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/Avenir.ttc")
}

body, html {
  height: 100%;
  width: 100%;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper .swiper-slide {
  width: 148px;
}